<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>WITT - What Is This Thing</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
</head>

<body>
  	<div class="d-flex justify-content-center flex-nowrap">
		<h1> WITT - What Is This Thing</h1>
  	</div>
	<div class="d-flex justify-content-center flex-nowrap">
		<a class="btn btn-primary" href="/save-post"> New post</a>
	</div>
	<div class="d-flex justify-content-center flex-nowrap">
		<div th:replace="fragments/witt_post :: witt-post-list"></div>
  	</div>
</body>